In [1]:
# !git clone https://github.com/Kotzly/DS4H_Course.git
# !pip install ./DS4H_Course

In [2]:
import ds4h
from ds4h.data.download_sinasc import download_dbc, download_dbf_2020
from ds4h.processing.dbc import dbc_to_csv, dbf_to_csv
from ds4h.processing.csv import process_raw_sinasc

from pathlib import Path
from ds4h.data.city_ranking import get_ranking_dataframe, get_top_cities_from_df

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [3]:
dataset_root = Path("/home/paulo/Documents/datasets/sinasc")

In [4]:
dbc_path = dataset_root / "dbc"

dbc_path.mkdir(exist_ok=True, parents=True)

In [5]:
download_dbc(dbc_path)

In [6]:
csv_path = dataset_root / "csv"
dbc_to_csv(dbc_path, csv_path);

In [7]:
dbf_folder = dataset_root / "dbf"
dbf_folder.mkdir(exist_ok=True)

download_dbf_2020(dbf_folder)

dbf_filepath = list(dbf_folder.glob("*.DBF"))[0]
dbf_to_csv(dbf_filepath, csv_path)

In [7]:
union_df = process_raw_sinasc(csv_path)
union_df

Loading DNSP2015.csv
Loading DNSP2013.csv
Loading DNSP2011.csv
Loading DNSP2012.csv
Loading DNSP2019.csv
Loading DNBR20DA.csv
Loading DNSP2010.csv
Loading DNSP2017.csv
Loading DNSP2016.csv
Loading DNSP2014.csv
Loading DNSP2018.csv

,DTNASC,QTDFILVIVO,SEXO,IDADEMAE,PESO,GRAVIDEZ,CONSULTAS,RACACOR,CODMUNNASC,ESTCIVMAE,ESCMAE,PARTO,IDANOMAL
0,16072015,NaN,1,41.0,9999.0,1.0,NaN,NaN,354870,NaN,NaN,9.0,9.0
1,24052015,1.0,2,34.0,3580.0,1.0,4.0,NaN,355620,2.0,9.0,1.0,2.0
2,4032015,0.0,2,23.0,2650.0,1.0,4.0,1.0,350750,2.0,5.0,1.0,2.0
3,12042015,0.0,1,24.0,2600.0,1.0,9.0,NaN,355220,1.0,9.0,1.0,2.0
4,5052015,0.0,1,25.0,2100.0,1.0,4.0,NaN,355220,1.0,5.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
606141,23112018,1.0,1,34.0,3174.0,1.0,4.0,4.0,520870,5.0,5.0,2.0,2.0
606142,31122018,0.0,1,38.0,1790.0,1.0,3.0,1.0,520870,5.0,5.0,1.0,2.0
606143,3122018,0.0,2,39.0,3182.0,1.0,4.0,1.0,520870,1.0,5.0,2.0,NaN
606144,1082018,0.0,1,40.0,2850.0,1.0,4.0,1.0,530010,4.0,5.0,2.0,2.0
606145,6122018,1.0,1,34.0,3405.0,1.0,3.0,1.0,530010,2.0,5.0,1.0,2.0

In [8]:
df = get_ranking_dataframe()
cities_dict = get_top_cities_from_df(df)

In [9]:
work_df = union_df[union_df.CODMUNNASC.apply(lambda x: x in cities_dict.keys())]

In [10]:
work_df

,DTNASC,QTDFILVIVO,SEXO,IDADEMAE,PESO,GRAVIDEZ,CONSULTAS,RACACOR,CODMUNNASC,ESTCIVMAE,ESCMAE,PARTO,IDANOMAL
5,25082015,0.0,2,34.0,2895.0,1.0,4.0,1.0,350280,2.0,5.0,1.0,2.0
6,28082015,1.0,2,30.0,3135.0,1.0,3.0,1.0,350280,2.0,9.0,1.0,2.0
7,26062015,0.0,1,36.0,3430.0,1.0,4.0,1.0,355030,1.0,5.0,1.0,2.0
24,22012015,0.0,1,23.0,3180.0,1.0,4.0,1.0,355030,1.0,5.0,1.0,2.0
56,21072015,2.0,2,37.0,3420.0,1.0,4.0,4.0,355030,1.0,5.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
582211,26122018,1.0,1,19.0,3845.0,1.0,4.0,5.0,355030,5.0,3.0,1.0,2.0
582212,26122018,2.0,1,28.0,2720.0,1.0,4.0,4.0,355030,1.0,4.0,2.0,2.0
582213,26122018,1.0,2,28.0,3880.0,1.0,4.0,1.0,355030,2.0,4.0,1.0,2.0
582214,27122018,0.0,1,14.0,3480.0,1.0,4.0,1.0,355030,1.0,4.0,1.0,2.0
582215,26122018,0.0,1,22.0,4640.0,1.0,4.0,4.0,355030,1.0,4.0,2.0,2.0