In [1]:
!git clone https://github.com/Kotzly/DS4H_Course.git
!pip install ./DS4H_Course

Cloning into 'DS4H_Course'...
remote: Enumerating objects: 444, done.
remote: Counting objects: 100% (444/444), done.
remote: Compressing objects: 100% (216/216), done.
remote: Total 444 (delta 277), reused 369 (delta 215), pack-reused 0
Receiving objects: 100% (444/444), 2.45 MiB | 6.49 MiB/s, done.
Resolving deltas: 100% (277/277), done.
Processing ./DS4H_Course
Collecting zipfile38==0.0.3
  Downloading https://files.pythonhosted.org/packages/a9/f0/719ee5a005ccdf17a49eea4890a0623fa693bce041af54c7f43320aaedab/zipfile38-0.0.3.tar.gz
Collecting pandas==1.1.3
  Downloading https://files.pythonhosted.org/packages/25/47/22fc373440e144e2111363adaa07abb09ec1f03fbc071b6d9fc0bbf65f68/pandas-1.1.3-cp37-cp37m-manylinux1_x86_64.whl (9.5MB)
     |████████████████████████████████| 9.5MB 5.7MB/s
Collecting simpledbf==0.2.6
  Downloading https://files.pythonhosted.org/packages/8a/d3/e4c25cd8f739dd7ddd19c255cd5552e08cdd439ac51a36ae12640ce8a748/simpledbf-0.2.6.tar.gz
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.3->ds4h==0.1) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.3->ds4h==0.1) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.3->ds4h==0.1) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.3->ds4h==0.1) (1.15.0)
Building wheels for collected packages: ds4h, zipfile38, simpledbf
  Building wheel for ds4h (setup.py) ... done
  Created wheel for ds4h: filename=ds4h-0.1-cp37-none-any.whl size=12691 sha256=63115e9cf68d274afa449a4c73ac89e19f9f728cb2c7274eee6ddb055dad83ca
  Stored in directory: /tmp/pip-ephem-wheel-cache-s1r1t8pp/wheels/ec/ff/91/fc3664f800ce643b3917437b9c8d3b0b7298db38297e3d6ef4
  Building wheel for zipfile38 (setup.py) ... done
  Created wheel for zipfile38: filename=zipfile38-0.0.3-cp37-none-any.whl size=22765 sha256=e1182c1a4b260a34373bf2469bcbea259e3b45d04286daf74993ce5a75c301b8
  Stored in directory: /root/.cache/pip/wheels/15/7a/ec/508d28bf3894e050aef4d0205cdf27a346e6e0891e979345d4
  Building wheel for simpledbf (setup.py) ... done
  Created wheel for simpledbf: filename=simpledbf-0.2.6-cp37-none-any.whl size=13793 sha256=4704299689a3b788c029c8a6e7651bc3d8e44a5cf992cb7869fb32c1c2674569
  Stored in directory: /root/.cache/pip/wheels/72/dd/df/cdfb970a508ef9750ebb4b6e035a3410c3d62b5a6a91d2aafc
Successfully built ds4h zipfile38 simpledbf
Installing collected packages: zipfile38, pandas, simpledbf, ds4h
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed ds4h-0.1 pandas-1.1.3 simpledbf-0.2.6 zipfile38-0.0.3

In [2]:
import ds4h
from ds4h.data.download_sinasc import download_dbc, download_dbf_2020
from ds4h.processing.dbc import dbc_to_csv, dbf_to_csv
from ds4h.processing.csv import join_sinasc_files
from ds4h.processing.sinasc import process_sinasc



from pathlib import Path
from ds4h.data.city_ranking import get_ranking_dataframe, get_top_cities_from_df

In [3]:
dataset_root = Path("/home/paulo/Documents/datasets/sinasc")

In [4]:
dbc_path = dataset_root / "dbc"

dbc_path.mkdir(exist_ok=True, parents=True)

In [5]:
download_dbc(dbc_path)

Downloading data from 10 years using 4 threadsDownload completed in 126.5s

In [6]:
csv_path = dataset_root / "csv"
dbc_to_csv(dbc_path, csv_path);

gcc -std=gnu99 -I"/usr/share/R/include" -DNDEBUG      -fpic  -g -O2 -fdebug-prefix-map=/build/r-base-wP4Uzq/r-base-4.0.5=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -g  -c blast.c -o blast.o
gcc -std=gnu99 -I"/usr/share/R/include" -DNDEBUG      -fpic  -g -O2 -fdebug-prefix-map=/build/r-base-wP4Uzq/r-base-4.0.5=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -g  -c dbc2dbf.c -o dbc2dbf.o
gcc -std=gnu99 -shared -L/usr/lib/R/lib -Wl,-Bsymbolic-functions -Wl,-z,relro -o read.dbc.so blast.o dbc2dbf.o -L/usr/lib/R/lib -lR
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2010.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2011.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2012.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2013.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2014.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2015.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2016.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2017.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2018.dbc"
[1] "/home/paulo/Documents/datasets/sinasc/dbc//DNSP2019.dbc"

trying URL 'https://cran.rstudio.com/src/contrib/read.dbc_1.0.5.tar.gz'
Content type 'application/x-gzip' length 20988 bytes (20 KB)
==================================================
downloaded 20 KB

* installing *source* package ‘read.dbc’ ...
** package ‘read.dbc’ successfully unpacked and MD5 sums checked
** using staged installation
** libs
installing to /content/.Rlocal/00LOCK-read.dbc/00new/read.dbc/libs
** R
** inst
** byte-compile and prepare package for lazy loading
** help
*** installing help indices
** building package indices
** testing if installed package can be loaded from temporary location
** checking absolute paths in shared objects and dynamic libraries
** testing if installed package can be loaded from final location
** testing if installed package keeps a record of temporary installation path
* DONE (read.dbc)

The downloaded source packages are in
	‘/tmp/Rtmpro8069/downloaded_packages’

In [7]:
dbf_folder = dataset_root / "dbf"
dbf_folder.mkdir(exist_ok=True)

download_dbf_2020(dbf_folder)

dbf_filepath = list(dbf_folder.glob("*.DBF"))[0]
dbf_to_csv(dbf_filepath, csv_path)

In [8]:
union_df = join_sinasc_files(csv_path)
union_df

Loading DNSP2011.csv
Loading DNSP2017.csv
Loading DNSP2019.csv
Loading DNSP2016.csv
Loading DNSP2015.csv
Loading DNSP2013.csv
Loading DNSP2012.csv
Loading DNBR20DA.csv
Loading DNSP2014.csv
Loading DNSP2018.csv
Loading DNSP2010.csv

        CODMUNNASC  IDADEMAE  ESTCIVMAE  ...  RACACOR  IDANOMAL  RACACORMAE
0           210900      25.0        NaN  ...      4.0       2.0         NaN
1           211300      15.0        1.0  ...      4.0       2.0         NaN
2           220830      19.0        1.0  ...      4.0       2.0         4.0
3           230440      32.0        2.0  ...      1.0       2.0         1.0
4           230440      35.0        2.0  ...      NaN       NaN         NaN
...            ...       ...        ...  ...      ...       ...         ...
601347      352310      39.0        NaN  ...      4.0       2.0         NaN
601348      351870      16.0        NaN  ...      4.0       2.0         NaN
601349      355280      17.0        1.0  ...      1.0       2.0         NaN
601350      351880      33.0        1.0  ...      4.0       2.0         NaN
601351      351870      23.0        1.0  ...      1.0       2.0         NaN

[8789019 rows x 12 columns]

In [9]:
df = get_ranking_dataframe()
cities_dict = get_top_cities_from_df(df)
print(cities_dict)

{354880: 'São Caetano do Sul', 351440: 'Dracena', 352480: 'Jales', 354680: 'Santa Isabel', 350210: 'Andradina', 354980: 'São Josã do Rio Preto', 354850: 'Santos', 350570: 'Barueri', 351740: 'Guaãra', 350280: 'Araãatuba', 355030: 'São Paulo'}

In [10]:
df = process_sinasc(union_df)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # we have an equal len list/ndarray

In [11]:
import numpy as np
from scipy import stats
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import shutil
import urllib.request as request
from contextlib import closing
import zipfile
import sys
import os
from simpledbf import Dbf5
import platform

#Verifica dados faltantes

In [12]:
union_df.shape

(8789019, 12)

In [13]:
faltantes = union_df.isnull().sum()
print(faltantes)

CODMUNNASC          0
IDADEMAE           28
ESTCIVMAE       34937
ESCMAE          40534
QTDFILVIVO     164317
QTDFILMORT     265163
GESTACAO        65825
PARTO            6078
DTNASC              0
RACACOR        131232
IDANOMAL        43348
RACACORMAE    1311248
dtype: int64

In [14]:
def missing_values(x):
  missing_per = pd.isnull(x).mean()
  return "{:.2f}%".format(missing_per * 100)

union_df.apply(missing_values, axis=0)

CODMUNNASC     0.00%
IDADEMAE       0.00%
ESTCIVMAE      0.40%
ESCMAE         0.46%
QTDFILVIVO     1.87%
QTDFILMORT     3.02%
GESTACAO       0.75%
PARTO          0.07%
DTNASC         0.00%
RACACOR        1.49%
IDANOMAL       0.49%
RACACORMAE    14.92%
dtype: object

### Considerando que os dados faltantes do dataset é menor que 5% optamos por dropar os dados

In [15]:
union_df = union_df.dropna()

## Qualidade dos dados 
###Verifica erros de registro, valores discrepantes e Inconsistências

In [16]:
union_df.dtypes

CODMUNNASC      int64
IDADEMAE      float64
ESTCIVMAE     float64
ESCMAE        float64
QTDFILVIVO    float64
QTDFILMORT    float64
GESTACAO      float64
PARTO         float64
DTNASC          int64
RACACOR       float64
IDANOMAL      float64
RACACORMAE    float64
dtype: object

In [17]:
union_df.describe().transpose()

                count          mean  ...         75%         max
CODMUNNASC  7164004.0  3.435725e+05  ...    355030.0    530010.0
IDADEMAE    7164004.0  2.744346e+01  ...        32.0        99.0
ESTCIVMAE   7164004.0  2.153924e+00  ...         2.0         9.0
ESCMAE      7164004.0  4.100652e+00  ...         4.0         9.0
QTDFILVIVO  7164004.0  9.358402e-01  ...         1.0        99.0
QTDFILMORT  7164004.0  2.389897e-01  ...         0.0        99.0
GESTACAO    7164004.0  4.881964e+00  ...         5.0         9.0
PARTO       7164004.0  1.590165e+00  ...         2.0         9.0
DTNASC      7164004.0  1.577507e+07  ...  23092020.0  31122020.0
RACACOR     7164004.0  2.375145e+00  ...         4.0         9.0
IDANOMAL    7164004.0  2.037955e+00  ...         2.0         9.0
RACACORMAE  7164004.0  2.375144e+00  ...         4.0         9.0

[12 rows x 8 columns]

#Tratamento da Variavel DTNASC.

In [18]:
from datetime import datetime as dt
def str_to_datetime(date):
  string = str(date)
  # 3022017 gives error (it reads the day as 30, but the month 22 does not exist), so we add a 0 to the start of the string
  if (string[0] != "0") and len(string) < 8:
    string = "0" + string
  return dt.strptime(string, "%d%m%Y")

union_df.loc[:, "DTNASC"] = union_df["DTNASC"].apply(str_to_datetime).astype("datetime64")

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # we have an equal len list/ndarray

Tratamento da variável QTDFILVIVO, QTDFILMORT, IDADEMAE.
Essas variáveis precisam ser tratadas para remover os valores discrepantes.

In [19]:
union_df.groupby(by=["QTDFILVIVO"]).count()['DTNASC']

QTDFILVIVO
0.0     3212656
1.0     2324178
2.0      995938
3.0      369693
4.0      143893
5.0       62394
6.0       28771
7.0       13544
8.0        6715
9.0        3252
10.0       1607
11.0        681
12.0        308
13.0        157
14.0         65
15.0         26
16.0         13
17.0          3
18.0          4
20.0          1
21.0          1
99.0        104
Name: DTNASC, dtype: int64

In [20]:
union_df = union_df[union_df['QTDFILVIVO']<=30]

In [21]:
union_df.groupby(by=["QTDFILMORT"]).count()['DTNASC']

QTDFILMORT
0.0     5821310
1.0     1078620
2.0      201800
3.0       44613
4.0       11175
5.0        3566
6.0        1345
7.0         614
8.0         300
9.0         160
10.0        187
11.0         75
12.0         35
13.0         18
14.0         11
15.0          9
16.0          3
17.0          4
18.0          2
19.0          3
20.0          8
21.0          1
22.0          2
23.0          1
24.0          1
25.0          2
26.0          1
27.0          1
29.0          1
99.0         32
Name: DTNASC, dtype: int64

In [22]:
union_df = union_df[union_df['QTDFILMORT']<=30]

In [23]:
union_df.groupby(by=["IDADEMAE"]).count()['DTNASC']

IDADEMAE
8.0          7
9.0          1
10.0        44
11.0       132
12.0       797
13.0      6532
14.0     29471
15.0     75695
16.0    130866
17.0    185225
18.0    233033
19.0    285279
20.0    317365
21.0    328760
22.0    338316
23.0    340165
24.0    345524
25.0    351593
26.0    352466
27.0    350188
28.0    349350
29.0    349173
30.0    349773
31.0    342400
32.0    324706
33.0    301831
34.0    280689
35.0    254621
36.0    223020
37.0    190901
38.0    156315
39.0    121461
40.0     91320
41.0     63591
42.0     40926
43.0     24490
44.0     13509
45.0      7199
46.0      3394
47.0      1629
48.0       741
49.0       434
50.0       290
51.0       222
52.0       119
53.0        91
54.0        70
55.0        21
56.0        26
57.0        11
58.0        18
59.0        12
60.0         7
61.0        11
62.0        12
63.0         6
64.0         9
65.0         3
99.0         8
Name: DTNASC, dtype: int64

In [24]:
union_df = union_df[union_df['QTDFILMORT']<=65]

In [25]:
union_df.groupby(by=["RACACOR"]).count()['DTNASC']

RACACOR
1.0    3583954
2.0     443205
3.0      40535
4.0    3064916
5.0      29435
9.0       1823
Name: DTNASC, dtype: int64

De acordo com o dicionário de dados essa variável deveria ser Tipo de raça e cor do nascido: 1– Branca; 2– Preta; 3– Amarela;4– Parda; 5– Indígena. Então esse 9 pode ser valores que não foram definidos. Vamos remover do dataset.

In [26]:
union_df = union_df[union_df['RACACOR']<=5]

In [27]:
union_df.groupby(by=["RACACOR"]).count()['DTNASC']

RACACOR
1.0    3583954
2.0     443205
3.0      40535
4.0    3064916
5.0      29435
Name: DTNASC, dtype: int64

In [28]:
union_df.groupby(by=["ESTCIVMAE"]).count()['DTNASC']

ESTCIVMAE
1.0    3020926
2.0    2737429
3.0      12235
4.0     120937
5.0    1256417
9.0      14101
Name: DTNASC, dtype: int64

De acordo com o dicionário de dados essa variável deveria: 1– Solteira; 2– Casada; 3– Viúva; 4– Separada judicialmente/divorciada; 5– União estável; 9– Ignorada. Vamos filtrar os valores ignorados tb

In [29]:
union_df = union_df[union_df['ESTCIVMAE']<=5]

In [30]:
union_df.groupby(by=["ESTCIVMAE"]).count()['DTNASC']

ESTCIVMAE
1.0    3020926
2.0    2737429
3.0      12235
4.0     120937
5.0    1256417
Name: DTNASC, dtype: int64

In [31]:
union_df.groupby(by=["PARTO"]).count()['DTNASC']

PARTO
1.0    2929571
2.0    4218310
9.0         63
Name: DTNASC, dtype: int64

Apenas 66 mulheres tiveram o tipo de parto ignorado na hora de transcrever os dados. Vamos filtrar

In [32]:
union_df = union_df[union_df['PARTO'] <= 2.0]

In [33]:
union_df.groupby(by=["PARTO"]).count()['DTNASC']

PARTO
1.0    2929571
2.0    4218310
Name: DTNASC, dtype: int64

In [34]:
union_df.groupby(by=["IDANOMAL"]).count()['DTNASC']

IDANOMAL
1.0      79715
2.0    7018344
9.0      49822
Name: DTNASC, dtype: int64

In [35]:
union_df = union_df[union_df['IDANOMAL'] <= 2.0]

In [36]:
union_df.groupby(by=["IDANOMAL"]).count()['DTNASC']

IDANOMAL
1.0      79715
2.0    7018344
Name: DTNASC, dtype: int64

In [37]:
union_df.groupby(by=["GESTACAO"]).count()['DTNASC']

GESTACAO
1.0       2897
2.0      36290
3.0      72830
4.0     702146
5.0    6153209
6.0     130645
9.0         42
Name: DTNASC, dtype: int64

Semanas de gestação: 1– Menos de 22 semanas; 2– 22 a 27 semanas; 3– 28 a 31 semanas; 4– 32 a 36 semanas; 5– 37 a 41 semanas; 6– 42 semanas e mais; 9– Ignorado.

In [44]:
union_df = union_df[union_df['GESTACAO'] <= 6.0]

In [43]:
union_df.groupby(by=["GESTACAO"]).count()['DTNASC']

GESTACAO
1.0       2897
2.0      36290
3.0      72830
4.0     702146
5.0    6153209
6.0     130645
Name: DTNASC, dtype: int64